<%= form_for @workout do |f| %>

 <%= f.label :title %>
  <%= f.text_field :title %>
    <br></br>

  <%= f.label :category %>
  <%= f.select :category,options_for_select(["chest", "back", "arms", "sholders", "legs", "full body", "upper_body", "push", "pull", "other"]), include_blank: true  %>
    <br></br>

  <h2> Remember to list exercises </h2>

  <%= f.submit%>

<% end %>