<!DOCTYPE html>
<html>
  <head>
    <title>LiftFit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
      
      <%= link_to 'Logout', '/logout', method: :delete%>
      <%= link_to 'My Plans', plans_path %>
      <%= link_to 'Create a Plan', new_plan_path %>
    
  
    <%= yield %>
  </body>
</html>
